<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head}"></head>
    <body>
        <div th:replace="~{fragments :: header-nav}"></div> 
        <main>
            <h2>Welcome to MCC Bookstore!</h2>
            <img class="imageRight" th:src="@{Images/frontpagestore.jpg}" width="350" height="350" alt="MCC Bookstore Interior." />
            <p></p>
        </main>
        <footer th:replace="~{fragments :: footer}"></footer>
    </body>
</html>