<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body  id="pageCenter">
    <div th:replace="~{fragments :: header-nav}"></div>
    <main>
        <h2>Item List</h2>
        <div th:if="${itemDB == null || itemDB.size() == 0}">
            <p>Empty.</p>
        </div>
        <div th:unless="${itemDB == null || itemDB.size() == 0}">
            <section th:each="entry : ${itemDB}" th:with="current=${itemDB[entry.key]}">
                <img class="listItemImage" th:if="${current.hasImage()}" width="125" height="125"
                    th:src="${current.image.getDataUri()}" alt="Item Image."/>
                <img class="listItemImage" th:unless="${current.hasImage()}" width="125" height="125"
                    th:src="@{/Images/noimage.png}" alt="No image provided."/>
                <br>
                <h3><a th:href="@{'/view/current/'+${current.id}}" th:text="${current.name}">ITEM NAME</a></h3>
                <p th:text="${current.itemType}">TYPE</p>
            </section>
        </div>
    </main>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>