<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace=" ~{fragments :: head}"></head>
<body id="pageCenter">
<div th:replace="~{fragments :: header-nav}"></div>
<main>
    <aside>
        <img th:if="${current.hasImage()}" th:src="${current.image.getDataUri()}" alt="Item image."/>
        <img th:unless="${current.hasImage()}" th:src="@{/Images/NoPhotoLarge.jpg}" alt="No image provided."/>
        <br>
    </aside>
    <h2 th:text="${current.name}">ITEM NAME</h2>
    <p>MANUFACTURER<span th:text="${current.manufacturer}"></span></p>
    <p>PRICE<span  th:text="${current.price}"></span></p>
    <p>ITEM TYPE <span th:text="${current.itemType}"></span></p>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>